@import "../../bower_components/normalize-scss/_normalize.scss";

@import "variables.scss";

body {
	font-family: sans-serif;
	font-size: 14px;
	color: $color;
	background: $bg;
}

@import "layout.scss";
@import "module.scss";
@import "state.scss";
