@charset "UTF-8";

%adaptive-bg {
  background-position: fixed;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Colors
$bg: #fff;
$color: #2D3033;
$blue: #18364A;
$red: #DC3830;
$gray: #666C72;
$lightgray: #bbb;

// Media
$small: 600px;
$large: 1000px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $large) { @content; }
  }
}

// Example: @include respond-to(handhelds) { width: 100%; }
//          @include respond-to(medium-screens) { width: 50%; }

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

// Example: @include transition(color .3s ease);

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Examlpe: @include opacity(0.8);

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Example: @extend %clearfix;