@charset "UTF-8";
@import "../../../bower_components/normalize-scss/normalize.scss";

// Import font here

// Colors
$bg: #F0F0F0;
$white: #fff;
$color: #181818;
$gray: #596869;

$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;
//@media screen and (max-width: $md)

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// Example: @include transition(color .3s ease);

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
// Examlpe: @include opacity(0.8);

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
// Example: @extend %clearfix;